body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    
}

img {
    display: flex;
    flex: auto;
    max-width: 220px;
    
    
}
.header {
    background-color: #1f2037;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    border: 0px;
    padding-top: 8px;
    }

.logo   {
    font-weight: 900;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    border: 0;
    gap: 16px;
}
a {
    text-decoration: none;
    color: white;
}

.one    {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    background-color: #1f2037;
    padding: 40px;
}

.levozgoraj {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    color: white;
    padding-bottom: 30px;
    
}
button {
    background-color: rgb(4, 120, 235);
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid black;
}
.main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.naslovslik {
    display: flex;
    font-weight: 600;
    justify-content: center;
    padding: 8px;
    font-size: large;
}

.slike {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    text-align: center;
    gap: 8px;
    margin-bottom: 40px;
}
.txtpodsliko {
    max-width: 220px;
}

.three {
    background-color: lightgrey;
    padding-top: 48px;
    padding-bottom: 48px;

} 
.quote {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 36px;
    font-style: italic;
}
#signature {
    text-align: right;
    margin-right: 200px;
    font-size: 24px;
    font-weight: bold;
}

